.recipe-details-view-container {
    display: grid;
    grid-template-columns: repeat(6, 16.666%);
    grid-template-rows: auto auto 3em auto auto;
    grid-template-areas: 
    "recipe-image recipe-image recipe-image recipe-image recipe-image recipe-image"
    "recipe-name recipe-name recipe-name recipe-name recipe-name recipe-name"
    "recipe-info recipe-info recipe-info recipe-info recipe-info recipe-info"
    "recipe-ingredients recipe-ingredients recipe-ingredients recipe-ingredients recipe-ingredients recipe-ingredients"
    "recipe-description recipe-description recipe-description recipe-description recipe-description recipe-description";
    justify-items: center;
    align-items: center;
}

.recipe-details-recipe-image {
    grid-area: recipe-image;
    img {
        max-height: 200px;
        width: 100%;
        object-fit: contain;
    }
    mat-icon {
        display: none;
    }
}

.recipe-details-recipe-name {
    grid-area: recipe-name;
    margin: 1em;
}

.recipe-details-recipe-info {
    grid-area: recipe-info;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.recipe-details-recipe-portions {
    grid-area: recipe-portions;
}

.recipe-details-recipe-ingredients {
    grid-area: recipe-ingredients;
    align-self: start;
    justify-self: start;
    margin: 1em;
    ul {
        padding-inline-start: 1em;
    }
}

.recipe-details-recipe-description {
    grid-area: recipe-description;
    margin: 1em;
}

mat-icon {
    font-size: 14px;
    font-weight: 700;
    height: 14px;
    width: 14px;
}

@media (min-width: 1000px) {
    .recipe-details-view-container {
        display: grid;
        grid-template-columns: repeat(6, 16.666%);
        grid-template-rows: auto 5em auto;
        grid-template-areas: 
        "recipe-image recipe-name recipe-name recipe-name recipe-name recipe-name"
        "recipe-image recipe-info recipe-info recipe-info recipe-info recipe-info"
        "recipe-ingredients recipe-description recipe-description recipe-description recipe-description recipe-description";
        justify-items: center;
        align-items: center;
    }
    .recipe-details-recipe-image {
        mat-icon {
            color: #d8d8d8;
            display: block;
            font-size: 50px;
        }
    }
    .recipe-details-recipe-is-vege {
        justify-self: center;
    }
}

.mat-icon {
    line-height: 13px;
}
