<div class="recipe-details-view-container">
  <div class=recipe-details-recipe-image>
    <img src="{{recipeImageUrl}}"
         *ngIf="recipeImageUrl.length > 0">
    <mat-icon aria-label="Image"
              *ngIf="recipeImageUrl.length === 0">image</mat-icon>
  </div>
  <div class="recipe-details-recipe-name">
    <h1>
      {{ recipeName }}
    </h1>
  </div>
  <div class="recipe-details-recipe-info">
    <div class="recipe-details-recipe-difficulty">
      <mat-icon aria-label="Difficulty">signal_cellular_alt</mat-icon><span> {{recipeDifficultyLevel}}</span>
    </div>
    <div class="recipe-details-recipe-time">
      <mat-icon aria-label="Time">access_time</mat-icon><span>{{recipeTime}} minutes</span>
    </div>
    <div class="recipe-details-recipe-portions">
      <mat-icon aria-label="Portions">restaurant_menu</mat-icon> {{portions}}
    </div>
    <div class="recipe-details-recipe-is-vege">
      <span><strong>Vege:</strong> {{isVege ? 'Yes' : 'No'}}</span>
    </div>
  </div>
  <div class="recipe-details-recipe-ingredients">
    <h2>Ingredients:</h2>
    <ul>
      <li *ngFor="let ingredient of recipeIngredients">
        <strong>{{ingredient.name}}</strong> {{ ingredient.quantity}} {{ingredient.unit}}
      </li>
    </ul>
  </div>
  <div class="recipe-details-recipe-description">
    <span class="recipe-description"
          [innerHTML]="recipeDescription">
    </span>
  </div>
</div>