<div class="recipe-list-table-filter-input-wrapper"
     *ngIf="((recipesListItems | async).length > 0) && (isUserLoggedIn | async)">
  <mat-form-field>
    <input matInput
           (keyup)="applyFilter($event.target.value)"
           placeholder="Filter">
  </mat-form-field>
</div>
<div class="recipes-list-table-wrapper">
  <recipes-list-table *ngIf="((recipesListItems | async).length > 0) && (isUserLoggedIn | async); else addSomeRecipes"
                      [recipesListItems]="recipesListItems | async"
                      (rowClicked)="navigateToDetails($event)"
                      (editClicked)="navigateToEdit($event)"
                      (deleteClicked)="deleteRecipe($event)">
  </recipes-list-table>
</div>

<ng-template #addSomeRecipes>
  <h1 class="recipes-list-alternative-text">
    <span>Add some recipes!</span>
  </h1>
</ng-template>