<mat-toolbar color="primary">
  <button mat-icon-button
          (click)="goBack()"
          *ngIf="(!isInRoot) && (isLoggedIn | async)">
    <mat-icon aria-label="Go back">arrow_back</mat-icon>
  </button>
  <span>Recipes Manager</span>
  <button mat-icon-button
          class="settings-button"
          *ngIf="isLoggedIn | async"
          [matMenuTriggerFor]="navbarActionMenu">
    <mat-icon aria-label="Go back">settings</mat-icon>
  </button>
  <mat-menu #navbarActionMenu="matMenu">
    <button mat-menu-item
            (click)="navigateToManageIngredients()">
      <mat-icon aria-label="Manage ingredients">format_list_bulleted</mat-icon>
      <span>Manage ingredients</span>
    </button>
    <button mat-menu-item
            (click)="logOut()">
      <mat-icon aria-label="Logout">exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>