<mat-toolbar color="primary">
  <button mat-icon-button
          (click)="goBack()"
          *ngIf="(!isInRoot) && (isLoggedIn | async)">
    <mat-icon aria-label="Go back">arrow_back</mat-icon>
  </button>
  <span>Recipes Manager</span>
  <div class="navbar-icons">
    <mat-icon aria-label="No intenet"
              class="no-internet-icon"
              *ngIf="!(isUserOnline | async)">signal_wifi_off</mat-icon>
    <button mat-icon-button
            class="shopping-button"
            *ngIf="isLoggedIn | async"
            (click)="navigateToShoppingList()">
      <mat-icon aria-label="Shopping list">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button
            class="settings-button"
            *ngIf="isLoggedIn | async"
            [matMenuTriggerFor]="navbarActionMenu">
      <mat-icon aria-label="Go back">settings</mat-icon>
    </button>
  </div>
  <mat-menu #navbarActionMenu="matMenu">
    <button mat-menu-item
            (click)="navigateToManageIngredients()">
      <mat-icon aria-label="Manage ingredients">format_list_bulleted</mat-icon>
      <span>Manage ingredients</span>
    </button>
    <button mat-menu-item
            (click)="logOut()">
      <mat-icon aria-label="Logout">exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>