<recipe-details-view [recipeName]="recipeName | async"
                     [recipeImageUrl]="recipeImageUrl | async"
                     [recipeDifficultyLevel]="recipeDifficultyLevel | async"
                     [recipeTime]="recipeTime | async"
                     [isVege]="isVege | async"
                     [recipeIngredients]="recipeIngredients | async"
                     [recipeDescription]="recipeDescription | async"
                     [portions]="recipePortions | async"
                     (addToShoppingListClicked)="addToShoppingList($event)"></recipe-details-view>